//Principal Variables
$mainColor : #F44336;

//NavBar variables

$navTextColor : lighten(#212121, 10%);

//Button variables
$buttonBackground : darken($mainColor, 10%);

//Cards variables
$cardBackgroundColor : #FAFAFA;
