@import '../Helpers/variables';
@import '../Helpers/mixins';

footer {
  width: 100vw;
  min-height: 5vh;
  border-radius: 2px 2px 0 0 ;
  text-align: center;
  background-color: darken($mainColor, 20%);
  @include checkBackground($mainColor);
  margin-top: 6.8vh;
  h1 {
    margin: 0%;
    font-weight: lighter;
    font-family: 'Satisfy', cursive;
  }
}
